@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ALSthin;
  src: url('../fonts/ALSHauss-Thin.woff');
}
@font-face {
  font-family: ALSregular;
  src: url('../fonts/ALSHauss-Regular.woff');
}
@font-face {
  font-family: ALSmedium;
  src: url('../fonts/ALSHauss-Medium.woff');
}

@font-face {
  font-family: ALSlight;
  src: url('../fonts/ALSHauss-Light.woff');
}

@font-face {
  font-family: ALSbook;
  src: url('../fonts/ALSHauss-Book.woff');
}

@font-face {
  font-family: ALSbold;
  src: url('../fonts/ALSHauss-Bold.woff');
}

@font-face {
  font-family: ALSblack;
  src: url('../fonts/ALSHauss-Black.woff');
}

/* Create.css */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  animation: rotate 10s linear infinite;
}

.trans {
  transform: translate(-48%, -50%);
}

.fade-in-out {
  opacity: 0;
  animation: fadeInOut 1s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-out3 {
  opacity: 0;
  animation: fadeInOut3 1s ease-in-out forwards;
}

@keyframes fadeInOut3 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(15deg);
  }
}

@layer utilities {
  .triangle-b {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 94px 116px 94px 0;
    border-color: transparent #d1d4ff transparent transparent;
    opacity: 56%;
    transform: rotate(0deg);
  }

  .triangle-m {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 81px 102px 81px 0;
    border-color: transparent #d1d4ff transparent transparent;
    opacity: 56%;
    transform: rotate(0deg);
  }

  .triangle-md {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 37.5px 47px 37.5px 0;
    border-color: transparent #d1d4ff transparent transparent;
    transform: rotate(0deg);
  }

  .triangle-l {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 64.5px 80px 64.5px 0;
    border-color: transparent #d1d4ff transparent transparent;
    opacity: 56%;
    transform: rotate(0deg);
  }

  .bg-inner {
    background: linear-gradient(
      180deg,
      rgba(209, 212, 255, 1) 0%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .bg-inner-reverse {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 20%,
      rgba(209, 212, 255, 1) 100%
    );
  }

  .bg-outer {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(209, 212, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .bg-outer-md {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 20%,
      rgba(209, 212, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .bg-links {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    /* -ms-filter: blur(1px); */
    filter: blur(10px);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8968837535014006) 50%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 0) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    /* backdrop-filter: blur(0.5px); */
  }

  .footer-table-l {
    font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem);
  }

  .footer-table-b {
    font-size: clamp(0.875rem, 0.5179rem + 1.7857vw, 1.375rem);
  }

  .footer-table-ex-b {
    font-size: clamp(1.375rem, 0.1707rem + 1.8817vw, 2.25rem);
  }

  .footer-table-ex-m {
    font-size: clamp(1rem, 0.4839rem + 0.8065vw, 1.375rem);
  }

  .footer-table-ex-l {
    font-size: clamp(0.75rem, 0.4059rem + 0.5376vw, 1rem);
  }

  .footer-table-md-b {
    font-size: clamp(1rem, -0.125rem + 2.3438vw, 1.375rem);
  }

  .footer-table-md-l {
    font-size: clamp(0.625rem, -0.5rem + 2.3438vw, 1rem);
  }
}

/* Add this style to your CSS/SCSS file */
.hover-effect {
  transition: all 1s ease; /* Перенесено сюда для обеспечения плавности и при возвращении */
}

.hover-effect .text,
.hover-effect img {
  transition: transform 0.5s ease, color 0.5s ease; /* Указываем явно свойства для анимации */
}

.hover-effect:hover {
  background: #4f56d3;
}

.hover-effect:hover .text {
  transform: translateX(40px);
  color: #d1d4ff;
}

.hover-effect:hover img {
  transform: translateX(40px);
}

.hover-effect2 {
  transition: all 1s ease; /* Перенесено сюда для обеспечения плавности и при возвращении */
}

.hover-effect2 .text2,
.hover-effect2 img {
  transition: transform 0.5s ease, color 0.5s ease; /* Указываем явно свойства для анимации */
}

.hover-effect2:hover {
  background: #4f56d3;
}

.hover-effect2:hover .text2 {
  transform: translateX(20px);
  color: #d1d4ff;
}

.hover-effect2:hover img {
  transform: translateX(20px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  animation-fill-mode: forwards;
}

@keyframes slideArrowOut {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px) translateY(-20px);
  }
}

@keyframes slideArrowIn {
  0% {
    opacity: 0;
    transform: translateX(-20px) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.arrow-out {
  animation: slideArrowOut 0.5s forwards;
}

.arrow-in {
  animation: slideArrowIn 0.5s forwards;
}

@keyframes slideArrowOut {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px) translateY(-20px);
  }
}

@keyframes slideArrowIn {
  0% {
    opacity: 0;
    transform: translateX(-20px) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.arrow-out {
  animation: slideArrowOut 0.5s forwards;
}

.arrow-in {
  animation: slideArrowIn 0.5s forwards;
}

.scroll-container {
  overflow-x: scroll;
  whitespace: nowrap;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 87px;
}

.icon {
  transition: transform 0.5s ease-in-out;
  display: inline-block;
  margin-right: 4px;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.scroll-container::before,
.scroll-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100px; /* Ширина эффекта прозрачности, настройте под ваш контент */
  height: 100%;
  pointer-events: none; /* Позволяет кликам проходить сквозь элемент */
}

.icon:first-child,
.icon:last-child {
  opacity: 0.5; /* Настройте уровень прозрачности */
}

.last-icon {
  opacity: 0.25; /* Дополнительно уменьшенная прозрачность для последней картинки */
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.www {
  width: 100%;
  transition: width 2s ease; /* Adjust the duration and easing function as needed */
}

@keyframes fillHeight {
  from {
    height: 0;
  }
  to {
    height: 51px; /* Измените это значение, если необходимо */
  }
}

/* Для устройств с более широкими экранами */
@keyframes fillHeightXX {
  from {
    height: 0;
  }
  to {
    height: 105px; /* Задайте конечную высоту для устройств с широкими экранами */
  }
}

.fill-height-animation {
  animation: fillHeight 2s ease forwards; /* Применяем анимацию */
}

@media (min-width: 1024px) {
  /* Пример медиа-запроса, замените на ваш breakpoint */
  .fill-height-animation {
    animation-name: fillHeightXX; /* Используем другую анимацию для более широких экранов */
  }
}

.path-animation {
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.outer-circle {
  position: absolute;
  width: 21px; /* Установите желаемый размер */
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8dbff;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.inner-circle {
  width: 11px; /* Установите желаемый размер */
  height: 11px;
  background-color: #4f56d3; /* Цвет фона внутреннего круга (bg-blue) */
  border-radius: 50%;
  z-index: 1;
}

.outer-circle2 {
  position: absolute;
  width: 16px; /* Установите желаемый размер */
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8dbff;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

.inner-circle2 {
  width: 8px; /* Установите желаемый размер */
  height: 8px;
  background-color: #4f56d3; /* Цвет фона внутреннего круга (bg-blue) */
  border-radius: 50%;
  z-index: 1;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
