@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ALSthin;
  src: url('../fonts/ALSHauss-Thin.woff');
}
@font-face {
  font-family: ALSregular;
  src: url('../fonts/ALSHauss-Regular.woff');
}
@font-face {
  font-family: ALSmedium;
  src: url('../fonts/ALSHauss-Medium.woff');
}

@font-face {
  font-family: ALSlight;
  src: url('../fonts/ALSHauss-Light.woff');
}

@font-face {
  font-family: ALSbook;
  src: url('../fonts/ALSHauss-Book.woff');
}

@font-face {
  font-family: ALSbold;
  src: url('../fonts/ALSHauss-Bold.woff');
}

@font-face {
  font-family: ALSblack;
  src: url('../fonts/ALSHauss-Black.woff');
}

/* Create.css */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  animation: rotate 10s linear infinite;
}

.trans {
  transform: translate(-48%, -50%);
}

.fade-in-out {
  opacity: 0;
  animation: fadeInOut 1s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities {
  .bg-inner {
    background: linear-gradient(
      180deg,
      rgba(209, 212, 255, 1) 0%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .bg-inner-reverse {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 20%,
      rgba(209, 212, 255, 1) 100%
    );
  }

  .bg-outer {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(209, 212, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .bg-outer-md {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 20%,
      rgba(209, 212, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
