@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ALSthin;
  src: url('../fonts/ALSHauss-Thin.woff');
}
@font-face {
  font-family: ALSregular;
  src: url('../fonts/ALSHauss-Regular.woff');
}
@font-face {
  font-family: ALSmedium;
  src: url('../fonts/ALSHauss-Medium.woff');
}

@font-face {
  font-family: ALSlight;
  src: url('../fonts/ALSHauss-Light.woff');
}

@font-face {
  font-family: ALSbook;
  src: url('../fonts/ALSHauss-Book.woff');
}

@font-face {
  font-family: ALSbold;
  src: url('../fonts/ALSHauss-Bold.woff');
}

@font-face {
  font-family: ALSblack;
  src: url('../fonts/ALSHauss-Black.woff');
}

/* Create.css */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-icon {
  animation: rotate 10s linear infinite; /* Измените значение времени (5s) по вашему усмотрению */
}
